<%= content_for :body do %>

	<h1>Editing Contact</h1>

	<%= render 'form', contact: @contact %>

	<%= link_to 'Show', @contact, class: 'button' %> |
	<%= link_to 'Back', contacts_path, class: 'button' %>

<% end %>